@font-face {
    font-family: 'qiyu';
    src: url(./YeZiGongChangXiaoShiTou-2.ttf);
}

/* 定义淡入动画 */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* 初始状态：完全透明 */
    }

    to {
        opacity: 1;
        /* 最终状态：完全不透明 */
    }
}

@keyframes slideIn {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

body {
    background-color: #c9a1fde0;

}

h1 {
    font-size: 50px;
    font-family: "Showcard Gothic";
    color: #1a0404;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;
    /* 动画名称、持续时间、缓动函数 */
}

h2 {
    text-align: center;
    animation: fadeIn 3s ease-in-out;
    /* 动画名称、持续时间、缓动函数 */
}

.qy2 {
    width: 200px;
    /* 设置图片宽度 */
    border-radius: 10px;
    /* 添加圆角 */
    margin: 20px;
    /* 添加外边距 */
    animation: rotate 1s infinite ease-in-out;
    position: relative;
    animation: slideIn 2s forwards;
}

.hbm {
    display: flex;
    /* 将容器设置为弹性布局 */
    justify-content: center;
    /* 水平居中子元素 */
    align-items: center;
    /* 垂直居中子元素 */

    flex-direction: column;
    /* 子元素垂直排列 */
    overflow: hidden;
    /* 防止内容溢出 */
    text-align: center;
    /* 居中 */
}

.h2-container {
    text-align: center;
    /* 使h2和后续内容居中 */

}

.new-text {
    color: rgb(22, 21, 21);
    /* 文字颜色 */
    font-size: 20px;
    /* 文字大小 */
    margin: 15px;
    /* 上边距 */
    text-align: center;
    /* 文字居中 */
    animation: fadeIn 1s ease-in-out;


}

.show-button {
    background-color: #9753b9;
    /* 背景颜色 */
    border: none;
    /* 去掉边框 */
    color: white;
    /* 文字颜色 */

    /* 内边距 */
    text-align: center;
    /* 文字居中 */
    text-decoration: none;
    /* 去掉下划线 */
    display: inline-block;
    /* 显示为内联块 */
    font-size: 20px;
    /* 字体大小 */
    padding-top: 10px;
    /* 内边距 */
    cursor: pointer;
    /* 鼠标悬停时显示手型 */
    border-radius: 12px;
    /* 圆角边框 */
    transition: background-color 0.3s ease;
    /* 背景颜色过渡效果 */
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    /* 设置按钮宽度为150像素 */
    height: 40px;
    /* 设置按钮高度为50像素 */
    font-family: 'qiyu';

}

.show-button:hover {
    background-color: #8230a74f;
    /* 鼠标悬停时的背景颜色 */
}

.show-button:active {
    background-color: #3e0e63a7;
    /* 按钮被点击时的背景颜色 */

}