@font-face {
    font-family: 'qiyu';
    src: url(./YeZiGongChangXiaoShiTou-2.ttf);
}

/* 定义动画 */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

@keyframes rotate {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

/* login.css */
body {
    background-color: #feade9e0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-link {
    background-color: #cc78fc;
    /* 背景颜色 */
    border: none;
    /* 去掉边框 */
    color: white;
    /* 文字颜色 */
    padding: 15px 10px 0px 10px;
    /* 内边距 */
    text-align: center;
    /* 文字居中 */
    text-decoration: none;
    /* 去掉下划线 */
    display: inline-block;
    /* 显示为内联块 */
    font-size: 35px;
    /* 字体大小 */
    margin: 2px 2px;
    /* 外边距 */

    cursor: pointer;
    /* 鼠标悬停时显示手型 */
    border-radius: 12px;
    /* 圆角边框 */
    transition: background-color 0.3s ease;
    /* 背景颜色过渡效果 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    /* 设置按钮宽度为150像素 */
    height: 50px;
    /* 设置按钮高度为50像素 */
    font-family: 'qiyu';


}

.button-link:hover {
    background-color: #c073c7;
    /* 鼠标悬停时的背景颜色 */
}

.button-link:active {
    background-color: #5f0e5f;
    /* 按钮被点击时的背景颜色 */
    transform: translateY(100px);
    /* 按钮被点击时的下沉效果 */
}

.qy1 {
    width: 200px;
    /* 设置图片宽度 */
    border-radius: 10px;
    /* 添加圆角 */
    margin: 20px;
    /* 添加外边距 */
    animation: rotate 1s infinite ease-in-out;
    position: relative;
    left: 280px;
    top: -30px;
}

.bgmtips {
    color: rgb(40, 144, 212);
    /* 文字颜色 */
    font-family: 'Arial', sans-serif;
    /* 更美观的字体 */
    font-size: 16px;
    /* 调整字体大小 */
    line-height: 1.5;
    /* 调整行高以提高可读性 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* 添加轻微的文字阴影 */

    padding: 5px 10px;
    /* 添加内边距 */
    border-radius: 5px;
    /* 添加圆角 */
    overflow: hidden;
    /* 防止内容溢出 */
}

.qiqiu1,
.qiqiu2,
.qiqiu3,
.qiqiu4,
.qiqiu5,
.qiqiu7,
.qiqiu8,
.qiqiu6 {
    position: absolute;
    animation: floatUp 10s linear infinite;
    width: 100px;
}

.qiqiu1 {
    left: 20%;
    animation-delay: 0s;
}

.qiqiu2 {
    left: 50%;
    animation-delay: 8s;
}

.qiqiu3 {
    left: 80%;
    animation-delay: 1s;
}

.qiqiu4 {
    left: 10%;
    animation-delay: 7s;
}

.qiqiu5 {
    left: 60%;
    animation-delay: 2s;
}

.qiqiu6 {
    left: 90%;
    animation-delay: 6s;
}

.qiqiu7 {
    left: 30%;
    animation-delay: 3s;
}

.qiqiu8 {
    left: 95%;
    animation-delay: 5s;
}

#playButton {
    position: relative;
    background-color: #e8da11;
    /* 按钮背景颜色 */
    border: none;
    /* 移除边框 */
    color: #e96bc7;
    /* 文字颜色 */
    padding: 15px 32px;
    /* 按钮内边距 */
    text-align: center;
    /* 文字居中 */
    font-weight: bold;
    display: inline-block;
    /* 使按钮成为内联块元素 */
    font-size: 25px;
    /* 文字大小 */
    margin: 4px 2px;
    /* 外边距 */
    cursor: pointer;
    /* 鼠标悬停时显示指针 */
    border-radius: 12px;
    /* 圆角边框 */
    transition: background-color 0.3s ease;
    /* 背景颜色过渡效果 */
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
}

#playButton:hover {
    background-color: #fdf8a9f7;
    /* 鼠标悬停时的背景颜色 */
}

#playButton:active {
    background-color: #dad55670;
    /* 按钮被点击时的背景颜色 */

}