body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('ran.jpg');
    background-size: cover;
    /* 使背景图像充满整个页面 */
    background-position: center;
    /* 将背景图像居中 */
    background-repeat: no-repeat;
    /* 禁止背景图像重复显示 */
}

@font-face {
    font-family: 'qiyu';
    src: url(./YeZiGongChangXiaoShiTou-2.ttf);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: 2;
}

#nextPageButton {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 将按钮定位到页面中心 */

    width: 200px;
    /* 设置按钮的宽度 */
    height: 100px;
    /* 设置按钮的高度 */
    font-size: 30px;
    /* 设置按钮文字的大小 */
    cursor: pointer;
    /* 鼠标悬停时显示手型 */
    border-radius: 12px;
    /* 圆角边框 */
    background-color: rgb(112, 159, 200);
    font-family: 'qiyu';
    display: none;
    /* 初始时隐藏按钮 */
    z-index: 30;
}