body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #c9a1fde0;
}


.new-text {
    color: rgb(22, 21, 21);
    /* 文字颜色 */
    font-size: 17px;
    /* 文字大小 */
    margin: 15px;
    /* 上边距 */
    opacity: 1;
    transition: opacity 0.5s;

    padding: 0px, 0px;
    position: absolute;
    left: 5%;
    top: 70%;
    width: 70%;
    padding: 100px;
    /* 添加内边距 */
    background-color: #fffac456;
    /* 添加背景颜色 */
    border-radius: 10px;
    /* 添加圆角 */
}



.transparent {
    opacity: 0;
    transition: opacity 0.5s;
}

.char {
    opacity: 0;
    transition: opacity 0.5s;
}